<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Glacial___Servicio.Properties.Settings.glacial_almacenConnectionString"
            connectionString="server=glacialcolima.ddns.net;user id=SGAglacial;password=Glacial_MASTER16;persistsecurityinfo=True;database=glacial_almacen"
            providerName="MySql.Data.MySqlClient" />
        <add name="Proyecto_Glacial___Servicio.Properties.Settings.glacial_servicioConnectionString"
            connectionString="server=glacialcolima.ddns.net;user id=SGAglacial;password=Glacial_MASTER16;database=glacial_servicio;persistsecurityinfo=False"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>